---
# Ansible Playbook: Install Python
# Description: Installs specified Python version with pip
# Target: Ubuntu servers

- name: Install Python
  hosts: ubuntu
  become: true
  gather_facts: true

  vars:
    python_version: "3.13"

  tasks:
    - name: Install software-properties-common
      apt:
        name: software-properties-common
        state: present
        update_cache: yes
      tags: ['python']

    - name: Add deadsnakes PPA
      apt_repository:
        repo: ppa:deadsnakes/ppa
        state: present
        update_cache: yes
      tags: ['python']

    - name: Install Python {{ python_version }}
      apt:
        name:
          - python{{ python_version }}
          - python{{ python_version }}-venv
          - python3-pip
        state: present
      tags: ['python']

    - name: Update alternatives for python
      alternatives:
        name: python
        path: /usr/bin/python{{ python_version }}
        link: /usr/bin/python
        priority: 100
      tags: ['python']

    - name: Verify installation
      command: python --version
      register: python_output
      changed_when: false
      tags: ['python']

    - name: Display Python version
      debug:
        msg: "{{ python_output.stdout }}"
      tags: ['python']
