# Feature Flags - Control which resources to create
create_ec2 = true
create_s3  = true

# EC2 Configuration
instance_type      = "t2.micro"
os_type            = "ubuntu"
ec2_open_tcp_ports = [22, 80]

# S3 Configuration
s3_bucket_name      = "gjpb-bucket"
enable_versioning   = false
enable_encryption   = true
block_public_access = true
