---
# Ansible Playbook: Execute MySQL SQL Scripts
# Description: Copies and executes multiple SQL scripts on the MySQL server
# Target: Ubuntu servers

- name: Execute MySQL SQL Scripts
  hosts: ubuntu
  become: true
  gather_facts: false

  vars:
    mysql_admin_user: "admin"
    mysql_admin_password: "admin2026!"
    sql_scripts:
      - "{{ playbook_dir }}/../../../files/mysql/sample_db_tables.sql"
      # Add more SQL files here as needed
      # - "{{ playbook_dir }}/../../../files/mysql/another_script.sql"

  tasks:
    - name: Ensure remote temporary directory exists
      file:
        path: /tmp/mysql_scripts
        state: directory
        mode: '0755'
      tags: ['mysql', 'sql']

    - name: Copy SQL scripts to target server
      copy:
        src: "{{ item }}"
        dest: "/tmp/mysql_scripts/{{ item | basename }}"
        mode: '0644'
      loop: "{{ sql_scripts }}"
      tags: ['mysql', 'sql']

    - name: Execute SQL scripts
      mysql_db:
        login_user: "{{ mysql_admin_user }}"
        login_password: "{{ mysql_admin_password }}"
        login_host: "127.0.0.1"
        state: import
        name: all
        target: "/tmp/mysql_scripts/{{ item | basename }}"
      loop: "{{ sql_scripts }}"
      tags: ['mysql', 'sql']

    - name: Clean up temporary SQL scripts
      file:
        path: "/tmp/mysql_scripts/{{ item | basename }}"
        state: absent
      loop: "{{ sql_scripts }}"
      tags: ['mysql', 'sql']
